apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: goop-shield
  namespace: goop-shield
  labels:
    app.kubernetes.io/name: goop-shield
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: goop-shield
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
