apiVersion: v1
kind: Service
metadata:
  name: goop-shield
  namespace: goop-shield
  labels:
    app.kubernetes.io/name: goop-shield
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8787
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: goop-shield
